# Appeal against a GCSE, AS or A level grade or the result of a qualification

Source: https://www.gov.uk/appeal-qualification-result
Fetched: 2026-11-04
Publisher updated: 2014-11-25T10:00:34+00:00

## Overview

You can challenge a grade or the result of a qualification if you think there’s been a mistake.

 This appeals process only applies to England. Find out more about:

 the appeals process in Scotland 

 the appeals process in Wales 

 the appeals process in Northern Ireland 

 GCSEs, AS levels or A levels

 You can ask your school or college to request a review from the exam board .

 Other qualifications

 You can ask your school, college or training provider to review the results of any other qualification, for example a BTEC or an NVQ.

 If you’re not satisfied with the outcome, you can appeal directly to the awarding organisation . They’ll send you a final report after they’ve reviewed the result.

 If you think the awarding organisation did not deal with your appeal correctly, you can complain to Ofqual .

## Ask for a GCSE, AS level or A level grade to be reviewed

Contact your school or college to challenge a GCSE, AS level or A level grade. They can request that the exam board reviews the marking of your exam entry.

 If you’re a private candidate you can contact the exam board directly, or contact the school or college that submitted your exam entry.

 You may have to pay a fee if you ask for a review and your grade is not changed as a result. Check with your school or college before they contact the exam board.

 What happens next

 The exam board will check your work for marking mistakes. Your mark may change if they find any.

 If your mark changes your overall grade may also change. Your new grade could be higher or lower than the original.

 If you still think there’s a mistake, you can ask your school or college to appeal the result. The exam board will then look at your work again and decide if your mark or grade needs correcting.

 If you think the exam board did not handle your appeal properly, you can request a review from Ofqual .

 Deadlines for reviews

 Check with the exam board what the deadline is for reviews.

## Request a review from Ofqual

If you think the exam board did not correctly follow the appeal process , you can ask your school or college to request a review from Ofqual .

 If you’re a private candidate contact Ofqual directly or go through the school or college that submitted your exam entry.

 Ofqual cannot carry out a review unless the exam board has completed the appeal process and given you a decision.

 Ofqual must receive any requests for a review within 15 working days of you getting the appeal decision from the exam board.

 Read more about asking Ofqual for a review .

 What happens next

 Ofqual will tell you if your review is going ahead and will keep you updated.

 If your review is rejected, Ofqual will tell you why.
